@page
@model CovidClassroom.ClassenvironmentModel
@{
    ViewData["Title"] = "Classenvironment";
}

<div class="text-center">
    <h1>Test your knowledge in the subject, "@Model.currentClass.className"</h1>
</div>
