@page
@model CovidClassroom.CreateClassModel
@{
    ViewData["Title"] = "CreateClass";
}
    <div class="text-center">
        <h1>Create a new class</h1>
    </div>
    <div class="form-group">
        <form method="post">
            <div class="input-group">
                <input type="search" class="input-group-text" placeholder="Name your class" asp-for="name" style="width:75%; margin-top:3%;" />
                <br />
                <input type="search" class="input-group-text" placeholder="Quizlet link to your class materials" asp-for="url" style="width:75%; margin-top:3%;" />
                <div id="searchbar" class="input-group">
                    <input id="email" class="input-group-text" placeholder="Search a studnet's email" asp-for="studentEmail" style="width:75%; margin-top:3%;" />
                    <button onclick="SendCLientInfo('@Model.customGuid', document.getElementById('email').value)" class="btn input-group-sm btn-light" id="search" style="margin-top:3%">Find And Add To Class</button>
                </div>
            </div>
            <button type="submit" class="btn input-group-prepend btn-outline-danger">Submit the new class</button>
        </form>
    </div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/emailHub.js"></script>
