@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Covid Classroom</h1>
    <h6><i class="text-muted" style="padding-top:10%">Making Class More Comfortable with incentivized learning</i></h6>
</div>